
/back/node_modules/

/front/node_modules/

/dist
/build
dist_electron/
*.exe
*.zip


*.log
.DS_Store
Thumbs.db


.env
*.sqlite
*.db


.vscode/
.idea/
# Ignorar node_modules en ambos
node_modules/
.env

# Ignorar build temporal de React (solo si no se copia a public)
front/build/
front/dist/

