.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.required {
  color: red;
  margin-left: 4px;
}

.help-text {
  font-size: 0.85rem;
  color: #666;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: black;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #ff0000;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  color: black;
  background-color: #fff;
}
