# Ignorar dependencias
node_modules/
back/node_modules/
front/node_modules/


*.exe
*.zip

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
*.log
*.db

# Carpetas de editores
.vscode/
.idea/
